/* Liste maddelerini ortalama */
.liste-madde-ortala {
    list-style-position: inside;
}

/* Textlere renk verme kısmı başladı */
.text-purple {
    color: rgb(100, 92, 187);
}

.text-orange {
    color: rgb(197, 137, 64);
}

/* Textlere renk verme kısmı bitti */

/* Margin verme kısmı başladı */
.marginl-10 {
    margin-left: 10px;
}

.margint-20 {
    margin-top: 20px;
}

.marginr-90 {
    margin-right: 90px;
}

.marginb-20 {
    margin-bottom: 20px;
}
/* Margin verme kısmı bitti */

/* Fiyatlar için yapılan kutu */
.price-box {
    width: 60px;
    background-color: grey;
    color: white;
    border-radius: 10px;
    text-align: center;
}

